:root {
  --main-color: #1c1c1c;
  --sec-color: #424242;
  --text-color: #6b6b6b;
  --hover-color: #c1c1c1;
  --white-color: #fff;
  --text-color:#000;



}
a {
  color: var(--text-color);
  text-decoration: none;
}
@-webkit-keyframes vibe {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes vibe {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.fixall {
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  text-decoration: none;
}

.fixall:hover, .fixall:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: "tj";
  color: var(--text-color);
  background-color: var(--back-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: var(--back-color);
  width: 7px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--back-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.overflow {
  overflow: hidden !important;
}



@font-face {
  font-family: "alR";
  src: 
    url("../fonts/Alexandria-Regular.woff") format("woff"),
    url("../fonts/Alexandria-Regular.woff2") format("woff2"),
    url("../fonts/Alexandria-Regular.eot") format("eot");
}

@font-face {
  font-family: "tjLight";
  src: url("../fonts/Tajawal-Light.ttf") format("ttf"),
    url("../fonts/Tajawal-Light.woff") format("woff"),
    url("../fonts/Tajawal-Light.woff2") format("woff2"),
    url("../fonts/Tajawal-Light.eot") format("eot");
}

@font-face {
  font-family: "tj";
  src: url("../fonts/Tajawal-Regular.ttf") format("ttf"),
    url("../fonts/Tajawal-Regular.woff") format("woff"),
    url("../fonts/Tajawal-Regular.woff2") format("woff2"),
    url("../fonts/Tajawal-Regular.eot") format("eot");
}

@font-face {
  font-family: "tjMd";
  src: url("../fonts/Tajawal-Medium.ttf") format("ttf"),
    url("../fonts/Tajawal-Medium.woff") format("woff"),
    url("../fonts/Tajawal-Medium.woff2") format("woff2"),
    url("../fonts/Tajawal-Medium.eot") format("eot");
}

@font-face {
  font-family: "tjBold";
  src: url("../fonts/Tajawal-Bold.ttf") format("ttf"),
    url("../fonts/Tajawal-Bold.woff") format("woff"),
    url("../fonts/Tajawal-Bold.woff2") format("woff2"),
    url("../fonts/Tajawal-Bold.eot") format("eot");
}

@font-face {
  font-family: "tjBlk";
  src: url("../fonts/Tajawal-Black.ttf") format("ttf"),
    url("../fonts/Tajawal-Black.woff") format("woff"),
    url("../fonts/Tajawal-Black.woff2") format("woff2"),
    url("../fonts/Tajawal-Black.eot") format("eot");
}

.main-head{
  background: url(../images/head.jfif);
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);}
 .main-head::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, right top, left top, from( rgb(0 0 0 / 77%)), to( rgb(0 0 0 / 77%)));
    background: linear-gradient(270deg, rgb(0 0 0 / 77%) 0%, rgb(0 0 0 / 77%) 100%);
    content: "";
    z-index: -1;
  }
  
.sidenav {
  right: -580px;
  overflow: auto;
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 6px 1px 14px rgba(0, 0, 0, .175);
  box-shadow: 6px 13px 14px rgba(0, 0, 0, .175);
}

.sidenav.open {
  right: 0;
}

.side-menu i {
  color: var(--sec-color)
}

.sidenav input {
  width: 190px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 25px;
}

.sidenav button {
  background-color: #fff;
  border: 0px;
}

.sidenav a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  margin: 0px 30px;
  color: #6f6c75;
  line-height: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.sidenav a:hover {
  color: #6f6c75;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 26px;
  cursor: pointer;
  left: 0px;
}

.side-menu span {
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  display: block;
  padding: 7px 11px;
  background-color: #f2f2f2;
}

.social-side a {
  margin: 0px
}

.side-menu ul li .down[aria-expanded="true"] {
  color: var(--main-color);
}

.down:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  position: absolute;
  display: block;
  top: 0;
  left: 35px;
  font-size: 10px;
}

.down[aria-expanded="true"]:after {
  content: "\f068";
  color: var(--main-color)
}

.side-menu ul li {
  position: relative;
}

.side-menu .sub_list li {
  line-height: 30px;
  list-style-type: none;
 
}

.side-menu .sub_list a {
  font-size: 14px;
  color: #4d4d4d;
  transition: .5s ease;
  
}
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}
#openNav i{
  font-size: 23px;
  color: var(--white-color);
  cursor: pointer;

}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: none;
}
/* ----------search------- */

#search {
  right: 0px;
}

#search form {
  left: 50%;
}

#search form input {
  right: 18%;
}

#search .btn {
  left: 300px
}

#search .close {
  left: 20px;
}

/*----------------search form-------------*/

button.search-bar {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  margin: 0px 5px;
  color: #ffffff;
  border: 1px solid #c1c1c1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button.search-bar:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}

#search {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color:  rgba(111, 108, 117, 0.97);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  z-index: 9999;
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input {
  background-color: transparent;
  font-size: 60px;
  outline: none;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  color: #fff;
  padding: 0 25px 10px;
  width: 100%;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

#search form button:hover {
  color: #76313e;
}

#search .btn {
  position: absolute;
  bottom: 5px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 40px;
  color: #fff;
}

#search .close {
  position: absolute;
  top: 20px;
  color: #fff;
  background-color: transparent !important;
  border-color: #848484;
  opacity: 1;
  left: 30px;
  font-size: 40px;
}

#search form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  max-width: 90%;
  transform: translate(-50%, -50%);
}

#search form input {
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  padding: 13px 20px;
  outline: 0;
  color: #fff;
  width: 100%;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

#search form input:focus {
  border-bottom: 1px solid #fff;
}

#search form input::-webkit-input-placeholder {
  color: #fff !important;
  font-family: 'Frutiger Light';
}

#search form button {
  background-color: transparent;
  outline: 0 !important;
}

#search form button {
  position: absolute;
  bottom: 5px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 40px;
  color: #fff;
}

#search form button i {
  color: #fff;
  font-size: 42px;
}
.head{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.left-icon{display: flex;
  align-items: center;}
  .lang-head a{
    background-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin: 0px 5px;
    color: #ffffff;
    border: 1px solid #c1c1c1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
  }

  .lang-head a:hover{
    color: var(--main-color);
    background-color: var(--white-color);
  }
  .head-title{
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    text-align: center;
  }
  .head-title h3{color: var(--hover-color);
    font-size: 45px;
}
.header-scroll-down-butt {
  width: 22px;
  height: 45px;
  border-radius: 11px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 11;
  background-color: transparent;
  padding: 0;
  display: block;
  margin: 0;
  outline: none !important;
  transition: 0.5s;
}
.header-scroll-down-butt:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 45%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1.5px;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  -webkit-animation-name: sdb10;
  animation-name: sdb10;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

.pre-loader .progress-bar {
  background-color: #d3d3d3;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 42px 0 0 0;
}

.pre-loader .progress-bar .Shape_1 {
  background-color: #d3d3d3;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}

.pre-loader .progress-bar span {
  display: block;
}

.pre-loader .bar {
  background-color: #d3d3d3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pre-loader .progress {
  -webkit-animation: loader 8s ease infinite;
  animation: loader 8s ease infinite;
  background: #000;
  border: none;
  color: #fff;
  padding: 0px;
  width: 0;
  height: 2px;
}

@-webkit-keyframes fade-scale-up-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.987) translateY(-50%);
            transform: scale(0.987) translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1) translateY(0%);
            transform: scale(1.1) translateY(0%);
  }
}

@keyframes fade-scale-up-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.987) translateY(-50%);
            transform: scale(0.987) translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1) translateY(0%);
            transform: scale(1.1) translateY(0%);
  }
}
/*------ navlist end ------*/


.mega-menu .container {
  position: relative;
}

.mega-menu .zx-mega-container {
  background-color: #fff;
  padding: 30px 30px;
  width: 100%;
}

.mega-menu .mega-container {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mega-menu .mega-list .list-title {
  font-family: "tjBold";
  font-size: 18px;
  color: #000;
  margin: 10px 0 0 0;
}





[dir="ltr"] .mega-menu ul li {
  margin: 0 80px 10px 0 !important;
}

.mega-menu ul li:hover {
  color: #000;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

[dir="ltr"] .mega-menu ul li:hover {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.mega-menu .mega-img {
  max-width: 415px;
}

.mega-menu .mega-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.mega-menu .mega-brands .img-container {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  width: 127px;
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

[dir="ltr"] .mega-menu::before {
  left: unset;
  right: 60%;
}
.nav-bar {
  z-index: 9;
}
/*------ navlist start ------*/
.nav-list .zx-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .mega-list .list li {
  font-family: "tjMd";
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.nav-list .list li {
  font-family: "tjMd";
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.nav-list .mega-list .list li a{
  color: #000;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
[dir="ltr"] .nav-list .list li {
  margin: 0 18px 0 0;
}

.nav-list .list li:last-child {
  margin: 0;
}

.nav-list .list li:hover {
  color: #bfbfbf;
}

.nav-list .list li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.nav-list .list .mega-hover::after {
  content: "\f0d7";
  /* FontAwesome Unicode */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  padding: 0 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*------ navlist end ------*/
.mega-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100vW;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 9;
}

.mega-menu .container {
  position: relative;
}

.mega-menu .zx-mega-container {
  background-color: #fff;
  padding: 30px 30px;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
}



.mega-menu .list-title {
  font-family: 'j';
  font-size: 18px;
  color: #000;
  margin: 10px 0 0 0;
}

.mega-menu ul {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.mega-list .mega-menu ul li {
   font-family: "tjBold";
  font-size: 16px;
  margin: 0 0 10px 90px !important;
  color: #333 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

[dir="ltr"] .mega-menu ul li {
  margin: 0 80px 10px 0 !important;
}

.mega-menu ul li:hover {
  color: #000;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

[dir="ltr"] .mega-menu ul li:hover {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.mega-menu .mega-img {
  max-width: 324px;
}
.mega-menu .mega-img img {
  width: 324px;
  border-radius: 5px;
  height: 205px;
}

.mega-menu .mega-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.mega-menu .mega-brands .img-container {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  width: 127px;
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.mega-menu::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid #fff;
}
.nav-list .list li>a{color: #fff;text-decoration: none;  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;}
.nav-list .list .mega-list li>a{color: #000;text-decoration: none;  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;}
.nav-list .list li>a:hover{color:var(--hover-color);text-decoration: none;}
[dir="ltr"] .mega-menu::before {
  left: unset;
  right: 60%;
}
.nav-bar .zx-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;

}

.nav-bar .logo-container {
  width: 270px;
}

.nav-bar .logo-container .logo {
  width: 170px;
}

.nav-bar .logo-container .logo img {
  -webkit-filter: brightness(0%) invert(1);
          filter: brightness(0%) invert(1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav-bar .icons {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .icons .icon-container {
  position: relative;
  font-size: 22px;
  color: #fff;
  margin: 0 0 0 25px;
}

[dir="ltr"] .nav-bar .icons .icon-container {
  margin: 0 25px 0 0;
}

.nav-bar .icons .icon-container:last-child {
  margin: 0;
}

.nav-bar .icons .icon-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .icons .icon-container i {
  padding: 0 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .icon-container span {
   
  font-size: 16px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .icon-container:hover {
  color: #bfbfbf;
}

.nav-bar .icons .menu-icon {
  display: none;
}

.nav-bar .icons .user-icon {
  position: relative;
}

.nav-bar .icons .user-icon .after {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .user-icon .after::after {
  content: "\f0d7";
  /* FontAwesome Unicode */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 600;
  font-size: 11px;
  color: #727071;
  padding: 0 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .user-icon .switch {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 55%;
  z-index: 9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 130px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
  color: #000;
  border-radius: 5px;
  padding: 8px 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar .icons .user-icon .switch a {
  display: block;
  margin: 3px 0;
}

.nav-bar .icons .user-icon .switch a:hover {
  color: #bfbfbf;
}

.nav-bar .icons .user-icon .switch span {
  padding: 0 2px;
  font-size: 15px;
}

.nav-bar .icons .user-icon:hover > span {
  color: #fff;
}

.nav-bar .icons .user-icon:hover > span::after {
  color: #fff;
}

.nav-bar .icons .user-icon:hover .switch {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.nav-bar .icons .cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.nav-bar.fixed-nav .logo-container .logo {
  width: 114px;
}

.nav-bar.fixed-nav .logo-container .logo img {
  -webkit-filter: unset;
          filter: unset;
}

.nav-bar.fixed-nav .icons .icon-container {
  color: #000;
}

.nav-bar.fixed-nav .nav-list .list li {
  color: #000;
}

.nav-bar.fixed-nav .nav-list .list li::after {
  color: #000;
}

.nav-bar.fixed-nav .mega-menu {
  top: 80px;
}

  /* about-home-section */
  .about-home-flex{
    display: flex;
      align-items: start;
      justify-content: center;
      margin: 45px 0px;
  }
  .about-home-one{width: 50%;}
  .about-home-one h2{font-size: 35px;
    font-weight: 700;}
  .about-home-one p{ width: 82%;
    font-size: 20px;
    color: var(--sec-color);
    text-align: justify;}
    /* sec-banner-section */
.sec-banner-section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 98px 0 95px;
  position: relative;
  -webkit-transform: perspective(1px);
          transform: perspective(1px);
}

.sec-banner-section::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgb(20 19 19 / 50%)), to(#000000));
  background: linear-gradient(90deg, rgb(20 19 19 / 50%) 0%, #000000 100%);
  content: "";
  z-index: -1;
}
h3.banner-title {
  font-size: 40px;
  color: #ffff;
  font-weight: 600;
  margin-bottom: 15px;
}
.banner-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ban-content p{
  color: var(--hover-color);
  width: 63%;
  margin-top: 12px;
  line-height: 1.9;
  font-size: 18px;
}
/* sec-banner-section */

.service-home {
  background-color: #f5f5f5;
  padding: 60px 0;
}
.service-home h4 {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
}
.service-home h4::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 2px;
  right: 21px;
  top: 36px;
  background-color: #b7b4b4;
  transform: translateX(50%);
}
.service-home .serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          margin-top: 15px;
}

.service-home .serv .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          align-items: start;
}
.serv-blog{margin-inline-start: 15px;}
.icon img{
  width: 50px;
  height: 50px;
}
.serv-blog p{
  margin: 0;
    width: 80%;
}
.service-home .serv .icon i {
  min-width: 85px;
  min-height: 85px;
  /* -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 50%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 36px;
  margin: 0 0 0 15px;
}

[dir="ltr"] .service-home .serv .icon i {
  margin: 0 15px 0 0;
}

.service-home .serv .icon span {
  font-size: 22px;
  color: var(--sec-color);
  /* max-width: 195px; */
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
/* portfolio-home */
.porto-photo{position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 50px;
  -webkit-transform: perspective(1px);
  transform: perspective(1px);
  width: 50%;}
.porto-photo::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, from( rgb(0 0 0 / 77%)), to( rgb(0 0 0 / 77%)));
  background: linear-gradient(270deg,  rgb(0 0 0 / 77%) 0%,  rgb(0 0 0 / 77%) 100%);
  content: "";
  z-index: -1;
}
.porto-link{width: 50%;padding-right: 13%;}
.porto-link i{font-size: 17px;}
.portfolio-home-flex{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.porto-link a{
  font-size: 25px;
    display: flex;
    align-items: center;
    /* margin: 0px 5px; */
    font-weight: 700;
}
.porto-photo h3{
  color: #fff;
  font-size: 47px;
  text-align: center;
  text-transform: uppercase;
}
.porto-link span{margin: 0px 5px;
  font-size: 25px;}
  /* portfolio-home */
  /* more-home */
  .more-photo img{
    height: 205px;
      min-width: 100%;
      filter: grayscale(1);
      -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .more-photo img:hover{filter: grayscale(0);}
  .more-photo{position: relative;margin-bottom: 15px;}
  .more-photo::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, right top, left top, from( rgb(0 0 0 / 77%)), to( rgb(0 0 0 / 77%)));
    background: linear-gradient(270deg, rgb(0 0 0 / 77%) 0%, rgb(0 0 0 / 77%) 100%);
    content: "";
    z-index: -1;
  }
  .more-text{
    height: 205px;
      display: flex;
      align-items: self-start;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 15px;
  }
  .more-text h4{position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    padding: 0px 25px;
  }
  .more-text h4::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 48px;
    right: 30px ;
    top: -10px;
    background-color: #b7b4b47a;
    transform: translateX(50%);
    z-index: -1;
  }
  .more-home{margin: 50px 0px;}
  /* ------------------brands----------------- */

.brands {
  padding-top: 85px;
  padding-bottom: 110px;
}
.brands h2{
  text-align: center;
    font-size: 40px;
    color: var(--sec-color);
    font-weight: 600;
    margin-bottom: 80px;
}
.brand {
  margin: auto;
  display: table;
}

.brand .br_photo {
  width: 150px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  filter: grayscale(1);
}

.br_photo img{
  width: 100px !important;
    height: 60px !important;
}
.brands .owl-carousel .owl-nav button.owl-prev {
  right: -40px;
  top: 38%;
  color: rgb(198, 197, 198);
  position: absolute;
  font-size: 22px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  transform: translateY(-50%);
}

.brands .owl-carousel .owl-nav button.owl-next {
  left: -40px;
  top: 38%;
  position: absolute;
  color: rgb(198, 197, 198);
  font-size: 22px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  transform: translateY(-50%);
}

.product .owl-carousel .owl-nav button.owl-next:hover,
.product .owl-carousel .owl-nav button.owl-prev:hover {
  color: rgb(138, 138, 138);
}

.center-section{
  background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 58px 0 55px;
    position: relative;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
}
.center-section::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background: #000000d6;
  content: "";
  z-index: -1;
}
.center-blogs{width: 60%;}
.center-blogs h3{
  font-size: 40px;
    color: var(--white-color);
    margin-bottom: 25px;
}
.center-blogs p{
  color: var(--white-color);
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}
.cent-blog{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.cent-one{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-inline-end: 60px;
}
.cent-one span{
  background-color: transparent;
  width: 36px;
  margin-inline-end: 15px;
  height: 36px;
  border-radius: 5px;
  margin: 0px 5px;
  color: #ffffff;
  border: 1px solid #c1c1c1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 18px;
}
.cent-one p{}

/*  subscribe-home */

.sub {
  position: relative;
    display: flex;
    width: 50%;
    margin: auto;
}

.sub input {
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: white;
  padding-inline-start: 15px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.sub input::-webkit-input-placeholder {

  font-size: 15px;
  color: #999;
}

.sub input::-moz-placeholder {
  
  font-size: 15px;
  color: #999;
}

.sub input:-ms-input-placeholder {
  
  font-size: 15px;
  color: #999;
}

.sub input::-ms-input-placeholder {
  
  font-size: 15px;
  color: #999;
}

.sub input::placeholder {
  
  font-size: 15px;
  color: #999;
}

.sub input:hover, .sub input:focus {
  border-color: #000;
}
.subscribe{margin: 35px 0px}
.sub button {
  position: absolute;
  top: 11px;
  left: 15px;
  font-size: 18px;
  color: #000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 0;
  background-color: transparent;
}

 .sub button:hover,  .sub button:focus {
  color: var(--sec-color);
}
.sub-flex{    width: 50%;margin: auto;}
[dir="ltr"].sub button {
  left: unset;
  right: 23px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.subscribe-home svg{width: 40px;    margin: 0px 10px;}
.subscribe-home {padding: 70px 0px;}
/* footer */
footer{
  padding-top: 60px;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding-bottom: 40px;

}
.footer-icons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
}

.footer-icons a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 40px;
  height: 40px;
  margin: 0 2.5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: var(--white-color);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--sec-color);
}

.footer-icons a:hover {
  background-color: #000 !important;
  color: #fff;
}
.foot-title h2{
  font-size: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}
.foot-title p{
  width: 80%;
  margin: auto;
  line-height: 1.9;
  color: var(--hover-color);
}
.foot-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
.foot-nav a{
  color: #fff;
  margin: 0px 15px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.foot-nav a:hover{color: var(--sec-color)}
.section-contact-map{position: relative;
  -webkit-transform: perspective(1px);
  transform: perspective(1px);filter: grayscale(1);
}
.copy{ background-color: var(--main-color);}
.copy p{
  padding: 10px 0px;
   margin: 0;
    display: flex;
    justify-content: center;
   
    color: #9d9696;
}
@media (min-width: 991px){
  .menu {
      display: none;
  }}

@media (max-width: 769px){}
@media (max-width: 991px){
  .nav-list{display: none;}
  .about-home-one h2 {
    font-size: 30px;
}
.about-home-one p {
  font-size: 18px;
}
.about-home-flex {
  margin: 25px 0px;
}
.sec-banner-section {

  padding: 50px 0 50px;

}
.ban-content p {
  width: 90%;

  font-size: 17px;
}
h3.banner-title {
  font-size: 35px;

}
.service-home {

  padding: 40px 0;
}
.service-home h4 {

  margin-bottom: 25px;
}
.service-home .serv .icon{margin-bottom: 15px;}
.more-photo {
display: none;
}
.more-text {
  height: auto;

}
.brands {
  padding-top: 0px;
  padding-bottom: 90px;
}
.center-blogs {
  width: 85%;
}
.center-blogs h3 {
  font-size: 30px;

}
.center-blogs p {
  font-size: 16px;
}
.center-section {

  padding: 45px 0 45px;
}

}


@media (max-width: 480px){
  .main-head {

    height: 70vh;

}
.head-title h3 {

  font-size: 33px;
}
.about-home-flex {

  flex-wrap: wrap;
}
.about-home-one {
  width: 100%;
}
.about-home-one p {
  width: 95%;
  font-size: 16px;
}
h3.banner-title {
  font-size: 30px;
}
.ban-content p {
  font-size: 15px;
}
.sec-banner-section {
  padding: 20px 0 27px;
}
.porto-photo h3 {

  font-size: 31px;

}
.porto-link a {
  font-size: 20px;
}
.center-blogs {
  width: 100%;
}
.cent-one {

  margin-inline-end: 0;
  width: 100%;
}
.cent-one span {
  min-width: 36px;}
  .subscribe-home {
    padding: 40px 0px;
}
.sub {
  width: 80%;
}
.foot-title h2 {
  font-size: 32px;
  margin-bottom: 20px;

}
footer {
  padding-top: 25px;
}
.foot-nav {

  flex-wrap: wrap;
}
.foot-nav li{margin: 5px 0px;}
.service-home .serv .icon span {
  font-size: 19px;}
}
@media (max-width: 325px){
.foot-nav {

  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.foot-nav a {
  color: #fff;
  margin: 0px 15px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-bottom: 10px;
  display: block;
}
}
/* ================================ */
/* ================================ */
/* Contact Page */
/* ================================ */
/* ================================ */
.contact-us.details {
  
  margin-bottom: 60px;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 35px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
}
.f-ti img {
  margin: 0px 5px;
  width: 25px;
  height: 25px;
}

.contact-us.details h2 {
  font-size: 25px;
  font-family: "tjBold";
  margin-bottom: 20px;
  color: var(--main-color);
}
.f-ti span{font-size: 18px;
  font-weight: 500;
  direction: ltr;
    display: inline-block;
  color: var(--contact-color);}
  .f-ti li {margin-bottom:13px}
.social-foot.contact h3 {
  font-size: 20px;
  font-family: "tjBold";
  margin-bottom: 30px;
}
.cont-flex{    background-color: white;
  border-radius: 15px;
}
@media(max-width:480px) {
  .contact-us.details h2 {
    text-align: center;
    margin-bottom: 20px;  
}
.contact-us.details .f-ti li{flex-direction: column;}
.social-foot.contact i {
  margin: 0px 4px;}
}

.cont .form_input {
  
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 1px solid rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 0px 15px;
  width: 100%;
  height: 55px;
  box-shadow: none;
  border-radius: 15px;
  text-align: right;
}
  .cont textarea {
    width: 100%;
    height: 127px;
    outline: 0;
    padding: 10px 12px;
    border:0;
    border-radius: 10px;
    border: 1px solid rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}

    .cont textarea:focus {
      border-color: var(--main-color
      );
  }
 
  textarea::placeholder {
    color: var(--contact-color);
    font-size: 16px;
    font-family: "tjMd";
  }
    .form_input::-webkit-input-placeholder {
      color:var(--contact-color);
  }
  .form_input:-ms-input-placeholder {
      color: var(--contact-color);
  }
  .form_input::-ms-input-placeholder {
      color: var(--contact-color);
  }
  .form_input::placeholder {
    color: var(--contact-color);
      font-size: 16px;
      font-family: "tjMd";
  }
  .contact-us.details .form-select {
    color: var(--contact-color);
      font-size: 16px;
      font-family: "tjMd";
      border: 1px solid rgb(242, 242, 242);
  }
  .form_input:focus {
    border-color: var(--main-color);
}
.contact-us.details .form-select:focus {
    border-color: var(--main-color);
}
.ask-send{margin-top: 15px;}
    .ask-send .btn{
      line-height: 46px;
      width: 150px;
      border:1px solid transparent;
      height: 50px;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "tjMd";
      background-color: var(--sec-color);}
      .ask-send .btn:hover{
        color: var(--sec-color);
        border-color: var(--sec-color);
        background-color: #fff;
      }
.f-ti i{
  font-size: 18px;
    width: 25px;
    height: 25px;
    color: var(--sec-color);
}
.title-center{    margin: 45px 0px;}
.title-center h2{text-align: center;}
    .btn.active,
    .btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .contact-us.details .form-select-lg{
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      border: 1px solid rgb(242, 242, 242);
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
      padding: 0px 15px;
      width: 100%;
      height: 55px;
      box-shadow: none;
      border-radius: 15px;
      text-align: right;
    }
    .foot-na{margin-bottom: 10px;}
    .phone-ic img{transform: rotate(270deg);}
    @media(max-width:480px) {
      .contact-us.details {
        margin-bottom: 25px;
        margin-top: 30px; 
        padding: 20px;
    
    }
    .ask-send .btn{margin-top: 0;width: 100%;
    }
    .title-center h2 {
      margin-bottom: 35px;
      font-size: 24px;
      width: 80%;
      margin: auto;
  }
  .title-center {

    margin-top: 40px;
    margin-bottom: 25px;
}
  .feature-content span{font-size: 18px;}
    }

    .page .head-title{display: none;}
    .page .header-scroll-down-butt{display: none;}
    .page .main-head {
      background: none;
      height: 100px;
      background-color: var(--main-color);
  }
  /* .contact-page-in{position: relative;z-index: -1;} */